/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Ensuring full page height */
html,
body {
  height: 100%;
  background-color: #F5F5F5;
}

.nav_title {
  padding-left: 20px;
  font-size: larger;
  color: #fff;
  text-decoration: none;
}

.nav_title:hover {
  padding-left: 20px;
  font-size: larger;
  color: #000;
  text-decoration: none;
}

/* Styling the navigation bar */
/* header {
  background-color: #74776B;
  height: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter';
  color: #fff;
} */
header {
  background-color: #74776B;
  height: 10%;
  /* Taking 10% of the viewport height */
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  /* Align items vertically center */
  justify-content: space-between;
  font-family: 'Inter';
  color: #fff;
  z-index: 999;
  /* Ensure header is above other content */
}

nav ul {
  list-style-type: none;
  text-align: right;
  padding-right: 20px;
}

nav ul li {
  display: inline;
  margin-left: 15px;
  /* Adjusting margin between items */
}

nav ul li:first-child {
  margin-left: 0;
  /* Removing margin for the first item */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
  text-decoration: none;
}

/* Styling main content */
main {
  margin-top: 10%;
  /* Ensuring content doesn't get hidden behind nav bar */
}


/*Home page styling*/

.homepage {
  font-family: 'Inter';
  color: #000;

}

.homepage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*About me styling*/

.about {
  font-family: 'Inter';
  color: #000;
}

.about h1 {
  font-weight: 300;
  padding-left: 20px;
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  padding-left: 20px;
}

.about .timeline {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  /* Position for line */
}

.about .timeline-col {
  display: flex;
  flex-direction: column;
}

.about .timeline-row {
  display: flex;
  flex-direction: row;
}

.about .timeline-item-right {
  margin-bottom: 40px;
  /* Increased margin for spacing */
  /* overflow: hidden; */
  /* Ensure items clear floated images */
  float: right;
  width: 100%;
  height: 50%;
}

.about .timeline-item-right img {
  width: 50%;
  /* Quarter of the screen */
  border-radius: 5px;
  /* Square image */
  margin-right: 20px;
  float: right;
}

.about .timeline-item-right p {
  float: right;
  margin-top: 0;
}

.about .timeline-text {
  display: flex;
  flex-direction: column;
}

.about .timeline-item-left {
  margin-bottom: 40px;
  /* Increased margin for spacing */
  /* overflow: hidden; */
  /* Ensure items clear floated images */
  float: left;
  width: 100%;
  height: 50%;
}

.about .timeline-item-left img {
  width: 50%;
  /* Quarter of the screen */
  border-radius: 5px;
  /* Square image */
  margin-right: 20px;
  float: left;
}

.about .timeline-item-left p {
  float: left;
  margin-top: 0;
}

/*Portfolio styling*/

.portfolio {
  font-family: 'Inter';
  color: #000;
}

.portfolio h1 {
  font-weight: 300;
  padding-left: 20px;
}

.portfolio .sort_projects {
  width: 40%;
  height: 40px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  background-color: #74776B;
}

.portfolio .sort_projects button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: medium;
  color: #FFF;
}

.portfolio .sort_projects button:hover {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: medium;
  color: #000;
}

.portfolio .sort_projects ul {
  list-style-type: none;
  text-align: left;
  color: #FFF;
}

.portfolio .sort_projects ul li {
  display: inline;
  margin-left: 15px;
}

.portfolio .container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.portfolio .image-container {
  position: relative;
  display: inline-block;
}

.portfolio .opaque-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  /* initially opaque */
  transition: opacity 0.3s ease-in-out;
  /* smooth transition */
}

.portfolio .image-container:hover .opaque-image {
  opacity: 0.5;
  /* make image more visible on hover */
}

.portfolio .image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  /* semi-transparent white background for better readability */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.portfolio .item {
  display: block;
}

.portfolio .hide {
  display: none;
}


/*Hobbies styling*/

.hobbies {
  font-family: 'Inter';
  color: #000;
}

.hobbies h1 {
  font-weight: 300;
  padding-left: 20px;
}

.hobbies .timeline {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  /* Position for line */
}

.hobbies .timeline-col {
  display: flex;
  flex-direction: column;
}

.hobbies .timeline-row {
  display: flex;
  flex-direction: row;
}

.hobbies .timeline-item-right {
  margin-bottom: 40px;
  /* Increased margin for spacing */
  /* overflow: hidden; */
  /* Ensure items clear floated images */
  float: right;
  width: 100%;
  height: 50%;
}

.hobbies .timeline-item-right img {
  width: 50%;
  /* Quarter of the screen */
  border-radius: 5px;
  /* Square image */
  margin-right: 20px;
  float: right;
}

.hobbies .timeline-item-right p {
  float: right;
  margin-top: 0;
}

.hobbies .timeline-text {
  display: flex;
  flex-direction: column;
}

.hobbies .timeline-item-left {
  margin-bottom: 40px;
  /* Increased margin for spacing */
  /* overflow: hidden; */
  /* Ensure items clear floated images */
  float: left;
  width: 100%;
  height: 50%;
}

.hobbies .timeline-item-left img {
  width: 50%;
  /* Quarter of the screen */
  border-radius: 5px;
  /* Square image */
  margin-right: 20px;
  float: left;
}

.hobbies .timeline-item-left p {
  float: left;
  margin-top: 0;
}

/*Resume styling*/

.resume {
  font-family: 'Inter';
  color: #000;
}

.resume h1 {
  font-weight: 300;
  padding-left: 20px;
}

.resume img {
  padding-left: 20px;
}

/*Project Pages styling*/
.project-page {
  font-family: 'Inter';
  color: #000;
}

.project-page h1 {
  font-weight: 300;
  padding-left: 20px;
}

.project-page p {
  padding-left: 20px;
}

.project-page .back-button {
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 50px;
  /* Adjust width to desired size */
  height: 25px;
  /* Ensure height matches width to create a square button */
  background-color: #74776B;
}

.project-page a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}